@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Share Tech Mono", monospace;
    @apply bg-primary-800;
  }
}
@layer utilities {
  .bounce {
    animation: bounce 0.8s;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-25px);
      animation-timing-function: cubic-bezier(1, -0.06, 0.64, 0.55);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-15px);
      animation-timing-function: cubic-bezier(1, -0.05, 0.56, 0.94);
    }
    100% {
      transform: translateY(0);
    }
  }
  .wrong {
    animation: wrong 0.5s ease-in-out;
  }
  @keyframes wrong {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translatex(-25px);
    }
    40% {
      transform: translateX(25px);
    }
    60% {
      transform: translateX(-15px);
    }
    80% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@layer components {
  .options {
    @apply appearance-none border-0 outline-none  w-full rounded-md h-10 pr-16 pl-4  text-primary-100 cursor-pointer shadow-sm focus:outline-none;
    background: url("../arrows.svg") no-repeat right 0.8rem center / 1.4rem
      rgb(23 23 23);
  }

  .options::-ms-expand {
    display: none;
  }
  .options option {
    @apply appearance-none text-primary-100 bg-primary-900;
  }
}
